@font-face {
    font-family: myfirstfont;
    src: url(MineraleTry-ExtraLight.otf);
}

@font-face {
    font-family: mysecondfont;
    src: url(MineraleTry-Medium.otf);
}

@font-face {
    font-family: mythirdfont;
    src: url(LeonardoFascia-M-Trial.otf);
}

.titlegrid{
    display:grid;
    line-height:10vw;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
    grid-gap:5vw;
}

.entrygrid{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
    grid-gap:7vw;
    padding:15vw;
}

h1 {
    color:white;
    font-size: 10vw;
    font-family: myfirstfont;
    text-align: center;
}

h1:hover {
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
from {
color: #f7b0be;
}
10% {
color: #ed8e83;
}
50% {
color: #fac92c;
}
75% {
color: #cfe5cc;
}
100% {
color: #2178ae;
}
}

h2 {
    color:white;
    font-size: 2vw;
    font-family: mythirdfont;
    text-align: center;
    line-height: 4.5vw;
}


body{
    background-color:black;
}



    
@media (min-width: 800px){
    .container{
        display:grid;
        grid-template-columns:50% 50%;
        margin:1em;
        gap:1em;
    }
    }

@media (min-width: 1000px){
    .container{
    display:grid;
    grid-template-columns:33% 33% 34%;
    margin:1em;
    gap:1em;
}
}