@font-face {
    font-family: myfirstfont;
    src: url(BerettaSansTrial-Light.otf);
}

@font-face {
    font-family: mysecondfont;
    src: url(BerettaSansTrial-Regular.otf);
}

@font-face {
    font-family: myfourthfont;
    src: url(PerfectSketchW01Bold.ttf);
}

@font-face {
    font-family: myfifthfont;
    src: url(dear-john.otf);
}
html {
    cursor: none;
  }


#cursor {
    height: 1.6vw;
    width: 1.6vw;
    border-radius: 20px;
    background-color: #e66f86;
    position: absolute;
    opacity: 70%;
  }
.marquee {
    height: 60px;	
    overflow: hidden;
    position: relative;

   }
  
   .marquee p {
    position: absolute;
    width: 100%;
    font-size: 2.3vw;
    color: #edb8b1;
    font-family: myfourthfont;
    letter-spacing: 2px;
    margin: 0;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
     
   -moz-animation: scroll-left 20s linear infinite;
   -webkit-animation: scroll-left 20s linear infinite;
   animation: scroll-left 20s linear infinite;
   }
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-75%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-75%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%); 
    }
   }
   .sticker{
    background: #edb8b1;
    color: black;
    font-family: myfourthfont;
      font-size: 1vw;
    line-height: 1.1vw;
    margin-bottom: 1.5vw;
      padding: 3.5vw;
      text-align: center;
      vertical-align: top;
          min-width: 7em;
   } 


.line{
    color:#5e5946;
    border-bottom: 0.09vw dashed #5e5946;
    padding-bottom: 0.01vw;
    font-family: myfifthfont;
}

.scenttitle{
    font-size: 1.6vw;
    color: black;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.scenttitle:hover{
    color:white;
    cursor:none;
}

.titlegrid{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
    grid-gap:3vw;

}


.entrygrid{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-items: center;
    justify-content: center;
    grid-gap:7vw;
    padding:15vw;
    text-align: center;
}

h1 {
    color:white;
    font-size: 9vw;
    font-family: myfirstfont;
    line-height:9.2vw;
}

h1:hover {
    color:#edb8b1;
    font-family: mysecondfont;
}

.underline:hover{
    color:#edb8b1;
    text-decoration: underline #edb8b1 0.2vw;
}

h2 {
    color:white;
    font-size: 1.5vw;
    font-family: myfourthfont;
    line-height: 3.9vw;
}

body{
    background-color:black;
}




    
@media (min-width: 800px){
    .container{
        display:grid;
        grid-template-columns:50% 50%;
        margin:1em;
        gap:1em;
    }
    }

@media (min-width: 1000px){
    .container{
    display:grid;
    grid-template-columns:33% 33% 34%;
    margin:1em;
    gap:1em;
}
}